In [36]:
import pandas as pd
import numpy as  np
import matplotlib.pyplot as plt
import seaborn as sns

In [37]:
mail_sp=pd.read_csv('E:\ML\spam\data\spam.csv',encoding="latin-1")

In [38]:
mail_sp.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [39]:
mail_sp.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [40]:
mail_sp.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace=True)

In [41]:
mail_sp.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [42]:
mail_sp.isnull().sum()

v1    0
v2    0
dtype: int64

In [43]:
#rename the column names
mail_sp.rename(columns ={"v1": "status", 
                                  "v2":"msg", 
                                  },inplace=True)

In [44]:
mail_sp.head()

  status                                                msg
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [45]:
x=mail_sp['msg']
y=mail_sp['status']

In [46]:
#mail_sp.status[mail_sp.status=='ham']=1
#mail_sp.status[mail_sp.status=='spam']=0

In [47]:
mail_sp['status']=mail_sp['status'].map({'ham':0,'spam':1})

In [48]:
mail_sp.head()

   status                                                msg
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [70]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
X=cv.fit_transform(x,y)

In [71]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [72]:
from sklearn.naive_bayes import MultinomialNB
MNB=MultinomialNB()
MNB.fit(x_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [73]:
MNB.score(x_test,y_test)

0.9829596412556054

In [74]:
data=['You have won a credit card']

vect=cv.transform(data).toarray()
pred=MNB.predict(vect)

In [75]:
pred

array(['spam'], dtype='<U4')